<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="{{receta.imagen}}" alt="{{receta.nombre}}" class="img-responsive" style="width: 200px;height: 200px; object-fit: cover; margin: 0 auto;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>{{receta.nombre}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" (click)="abierto= !abierto">
                Opciones<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" [ngStyle]="{display: abierto ? 'block' : 'none'}">
                <li><a href="#">A la cesta</a></li>
                <li><a href="#">Editar receta</a></li>
                <li><a href="#">Borrar receta</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{receta["descripcion"]}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="receta.ingredientes.length > 0">
        <h4>Ingredientes:</h4>

        <div class="list-group" *ngFor="let item of receta.ingredientes">
            <a appBetterHighlight class="list-group-item">{{item.nombre}}</a>
        </div>
    </div>
</div>