<app-header (seleccionadoEvent)="onSeleccionado($event)"></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">

            <div class="row" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <app-receta *ngIf="seleccionado == 'receta'"></app-receta>
                </div>
            </div>


            <div class="row" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <app-cesta *ngIf="seleccionado == 'cesta'"></app-cesta>
                </div>
            </div>

        </div>
    </div>

</div>